@font-face {
  font-family: "Akira";
  src: url("./Assets/Akira.otf");
}

@font-face {
  font-family: "Bank Printer";
  src: url("./Assets/F25_Bank_Printer.ttf");
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  overflow: hidden;
}

.slideOut {
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  background-color: transparent;
  backdrop-filter: blur(40px);
  transform-origin: bottom;
}

.slideIn {
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  background-color: transparent;
  backdrop-filter: blur(40px);
  transform-origin: top;
}

.homeBtn h1 {
  font-family: "Akira";
  color: transparent;
  -webkit-text-stroke: 1px white;
  letter-spacing: -10px;
  font-size: 80px;
  position: absolute;
  right: 7.5%;
  top: 0px;
  transition: 0.1s ease-out;
}

.homeBtn h1:hover {
  color: white;
  -webkit-text-stroke: hidden;
}

.navLinks {
  font-family: "Akira";
  font-size: 68px;
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.link {
  width: 350px;
  padding: 5px;
  letter-spacing: -6px;
  text-decoration: none;
  transition: 0.12s ease-out;
  color: white;
  margin-bottom: -10px;
}

.link:hover {
  color: transparent;
  -webkit-text-stroke: 1px white;
  scale: 115%;
  transform-origin: left;
}

.githubLogo {
  width: 45px;
  position: absolute;
  left: 80px;
  bottom: 20px;
  cursor: pointer;
  filter: brightness(10);
  transition: 0.2s ease;
}

.githubLogo:hover {
  scale: 115%;
}

.toggleMode {
  position: absolute;
  left: 25px;
  bottom: 20px;
}

.toggleMode button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 45px;
  height: 45px;
  font-size: 8px;
  font-family: "Akira";
  background-color: transparent;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  transition: 0.2s ease;
}

.toggleMode img {
  width: 30px;
  filter: invert(1) brightness(10);
}

.toggleMode button:hover {
  scale: 115%;
}

.light {
  width: 100dvw;
  height: 100dvh;
  background-color: rgb(255, 161, 106);
  transition: 0.4s ease;
  color: pink;
}

.dark {
  width: 100dvw;
  height: 100dvh;
  background-color: rgb(22, 22, 81);
  transition: 0.4s ease;
}

.homePage {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  width: 100dvw;
  height: 100dvh;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.homePage img {
  width: 600px;
  padding: 30px;
}

.logoSvg:hover {
  fill: white;
}

.about {
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.about p {
  font-family: "Bank Printer";
  color: white;
  width: 600px;
  line-height: 18px;
  font-size: 12px;
}

.create {
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.create p {
  font-family: "Bank Printer";
  color: white;
  width: 600px;
  line-height: 20px;
  font-size: 12px;
}

.create a {
  color: white;
}

.work {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.workItems {
  cursor: pointer;
  flex-direction: column;
  padding-left: 30px;
  font-family: "Akira";
  line-height: 10px;
  color: white;
  font-size: 30px;
  box-shadow: inset 0 0 0 0 white;
}

.work h2 {
  margin-top: 100px;
  font-size: 25px;
}

.clientItem a:hover,
.clientItem:hover {
  color: transparent;
  -webkit-text-stroke: 1px white;
  scale: 110%;
}

.clientItem a,
.clientItem {
  text-decoration: none;
  color: white;
  transition: 0.3s ease-out;
}

#languageIcons {
  cursor: pointer;
  margin-top: 50px;
  width: 50px;
  filter: invert(1);
  padding: 0px 20px;
  transition: 0.2s ease;
}

#languageIcons:hover {
  scale: 120%;
}

@media only screen and (max-width: 450px) {
  .navLinks {
    justify-content: center;
    align-items: center;
    font-size: 50px;
  }

  .link:hover {
    scale: 100%;
  }

  .homePage {
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  .homePage img {
    width: 300px;
  }

  .homeBtn h1 {
    font-size: 50px;
    -webkit-text-stroke: 1px white;
    letter-spacing: -12px;
  }

  .about p {
    margin-top: 15px;
    width: 300px;
    font-size: 10px;
    line-height: 14px;
    text-align: center;
  }

  .workItems {
    font-size: 12px;
  }
  .work h2 {
    margin-top: 100px;
    font-size: 8px;
  }

  .create p {
    width: 300px;
    font-size: 10px;
    line-height: 14px;
    text-align: center;
  }

  .githubLogo {
    display: none;
  }

  .toggleMode {
    top: 2%;
    left: 90%;
  }

  .toggleMode button {
    width: 20px;
    height: 20px;
  }

  .toggleMode img {
    width: 10px;
    height: 10px;
  }

  #languageIcons {
    width: 3dvh;
    margin-top: 25px;
    padding: 7.5px;
  }

  .clientItem a:hover,
  .clientItem:hover {
    scale: 100%;
    -webkit-text-stroke: 1px white;
  }
}
