@font-face {
  font-family: "Akira";
  src: url("./Assets/Akira.otf");
}

@font-face {
  font-family: "Bank Printer";
  src: url("./Assets/F25_Bank_Printer.ttf");
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: blue;
  overflow: hidden;
}

.slideOut {
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  background-color: transparent;
  backdrop-filter: blur(40px);
  transform-origin: bottom;
}

.slideIn {
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  background-color: transparent;
  backdrop-filter: blur(40px);
  transform-origin: top;
}

.homeBtn h1 {
  font-family: "Akira";
  color: transparent;
  -webkit-text-stroke: 3px white;
  letter-spacing: -10px;
  font-size: 80px;
  position: absolute;
  right: 7.5%;
  top: 0px;
  transition: 0.1s ease-out;
}

.homeBtn h1:hover {
  color: white;
  -webkit-text-stroke: hidden;
}

.navLinks {
  font-family: "Akira";
  font-size: 68px;
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.link {
  width: 350px;
  padding: 5px;
  letter-spacing: -6px;
  text-decoration: none;
  transition: 0.12s ease-out;
  color: white;
  -webkit-text-stroke: 0px;
  margin-bottom: -10px;
}

.link:hover {
  color: rgb(239, 248, 116);
  scale: 110%;
  transform-origin: left;
}

.homePage {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  width: 100dvw;
  height: 100dvh;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.homePage img {
  width: 700px;
  padding: 20px;
}

.logoSvg:hover {
  fill: white;
}

.about {
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about p {
  font-family: "Bank Printer";
  color: white;
  width: 600px;
  line-height: 20px;
  font-size: 12px;
}

.create {
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.create p {
  font-family: "Bank Printer";
  color: white;
  width: 600px;
  line-height: 20px;
  font-size: 12px;
}

.create a {
  color: white;
}

.work {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.workItems {
  cursor: pointer;
  flex-direction: column;
  padding-left: 30px;
  font-family: "Akira";
  line-height: 10px;
  color: white;
  font-size: 30px;
  box-shadow: inset 0 0 0 0 white;
}

.clientItem a:hover,
.clientItem:hover {
  color: transparent;
  -webkit-text-stroke: 3px white;
  scale: 110%;
}

.clientItem a,
.clientItem {
  text-decoration: none;
  color: white;
  transition: 0.3s ease-out;
}

@media only screen and (max-width: 450px) {
  .navLinks {
    justify-content: center;
    align-items: center;
    font-size: 50px;
  }

  .homePage {
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  .homePage img {
    width: 300px;
  }

  .homeBtn h1 {
    font-size: 60px;
  }

  .about p {
    width: 250px;
    font-size: 10px;
    line-height: 14px;
  }

  .workItems {
    font-size: 12px;
  }

  .create p {
    width: 250px;
    font-size: 10px;
    line-height: 14px;
  }
}
