@font-face {
  font-family: "Akira";
  src: url("./Assets/Akira.otf");
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fff9f2;
  overflow: hidden;
}

.navLinks {
  font-family: "Akira";
  font-size: 65px;
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.link {
  width: 250px;
  letter-spacing: -3px;
  text-decoration: none;
  transition: 0.25s ease-out;
  color: rgb(51, 0, 255);
  -webkit-text-stroke: 0px;
  margin-bottom: -10px;
}

.link:hover {
  color: transparent;
  -webkit-text-stroke: 2px rgb(51, 0, 255);
  scale: 120%;
  transform-origin: left;
}

.link:active {
}

.homePage {
  width: 100vh;
  height: 100%;
}

.homePage h1 {
  font-family: "Akira";
  color: transparent;
  -webkit-text-stroke: 2px rgb(51, 0, 255);
  position: absolute;
  bottom: -15%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 180px;
  width: 100%;
  display: flex;
  justify-content: center;
  letter-spacing: -30px;
}
